h1 {
    color: darkseagreen;
    padding-top: 10px;
    font-family: 'Audiowide', cursive;
    position: relative;
    z-index: 1000;
    float: left;
    overflow: visible;
    transition: color 0.25s ease-in-out;
}

h1 a {
    color: inherit;
}

h1:hover {
    color: aquamarine;
}

a {
    text-decoration: none;
}

body{
    padding: 40px;
}

p {
    color: white;
    position: absolute;
}

@media (max-width: 960px){
    h1, a {
        font-size: medium;
    }

    h1 {
        padding-top: 20px;
    }

    p {
        font-size: 5vh;
        top: 20%;
    }
}

@media (min-width: 961px){
    h1, a {
        font-size: 50px;
    }

    a {
        font-size: 30px;
    }

    p {
        font-size: xx-large;
        top: 40%;
        padding-left: 50px;
        width: 400px;
    }
}
