h1 {
    color: darkseagreen;
    padding-top: 10px;
    font-size: 50px;
    font-family: 'Audiowide', cursive;
    position: relative;
    z-index: 1000;
    float: left;
    overflow: visible;
    transition: color 0.25s ease-in-out;
}

h1 a {
    color: inherit;
}

h1:hover {
    color: aquamarine;
}

a {
    text-decoration: none;
}