<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autostock</title>
    <link href="../static/favicon.ico" rel="icon">
    <link href="../static/background.css" rel="stylesheet">
    <link href="../static/text.css" rel="stylesheet">
    <link href="../static/appbar.css", rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>

<div class="lines">
    <a href="/"><h1>Autostock</h1></a>
    <ul>
        <li><a href="#">Login</a></li>
    </ul>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>

</body>
</html>
